.card {
    border: solid grey;
    border-radius: 20px;
    width: 700px;
}:hover{
    content:"";
    border-color: orange;
}

.img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}:hover{
    -webkit-filter: none;
    filter: none;
}

.btn {
    font-size: 30px;
}

.bg-white:hover{
    content: "";
    -webkit-text-decoration: underline orange;
            text-decoration: underline orange;
    color: white;
}

.bg-orange{
    background-color: orange;
}
